body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #c45298;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}

/*Si se quieren dar las mismas caracteristicas a dos elementos o mas se pueden escribir en una misma linea solo separados por comas.*/
h1,
p {
    margin: 1em auto;
    text-align: center;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

/*Los elementos o etiquetas se indican solo con el nombre y luego corchetes*/
fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}

/*La pseudo class representa el ultimo elemento de su tipo entre un grupo de elementos iguales, es para hacer el respectuvo cambio solo en el ultimo, en este caso el ultimo de los fieldset*/
fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input,
textarea,
select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

input,
textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
}

/*Y las clases se escriben con un . primero luego el nombre de la clase y luego los corchetes*/
.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

/*A esto se le llama selector de atributo, es decir, se escribe el nombre de la etiqueta o elemento y entre parentesis cuadrados se coloca el atributo con algun valor en especifico, entonces las caracteristicas se le cambian solo a las etiquetas con esa clase o atributo con ese valor en especifico, en este ejemplo solo a los inputo type con valor submit*/
input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
}

input[type="file"] {
    padding: 1px 2px;
}

a {
    color: #dfdfe2;
}